<div class="col-md-4 sidebar">
    <div class="widget well">
        <h4>A propos</h4>
        <p>
            Ce blog présente ma veille techno, mes projets perso et mes expériences !

            Contactez-moi sur mon compte Twitter @nicowez ou par email contact[at]nicolas-torre.com.
        </p>
    </div>

    <div class="widget well">
        <h4>Recherche</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>

    <div class="widget well">
        <h4>Tags</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Actu </a></li>
                    <li><a href="#">Projet </a></li>
                    <li><a href="#">PHP </a></li>
                    <li><a href="#">Silex</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">Drupal</a></li>
                    <li><a href="#">Algo</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>