<div class="col-md-4 sidebar">
    <div class="widget well">
        <h4>A propos</h4>
        <p>
            Ce blog présente ma veille techno, mes projets perso et mes expériences !

            Contactez-moi sur mon compte Twitter @nicowez ou par email contact[at]nicolas-torre.com.
        </p>
    </div>

</div>