{% extends 'Layout/Backoffice.html.twig' %}

{% block content %}

    <h2 class="text-center">{{ title }}</h2>

    {% include 'Partials/User/AddEdit.html.twig' %}

    {% include 'Partials/User/EditPassword.html.twig' %}

{% endblock %}