div.construction {
    background-image: url("../img/construction.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 320px;
    margin: auto;
}

h1.construction
{
    font-size: 4em;
    text-align: center;
}


html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -200px;
}

body
{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar
{
    color: #ccc;
}

.main
{
    padding-top: 70px;
}

/* sidebar */

.well.widget
{
    border: none;
    background-color: #1a1a1a;
    background-image: none;
    clear: both;
}

.widget p
{
    text-align: justify;
}

.widget img
{
    float: left;
    margin: 5px 15px 10px 5px;
}

/* Article */
.author-date > i
{
    margin-left: 10px;
}

.unpublished
{
    background-color: #9D9D9D;
}

/* Bio */

.diploma-item,
.bio-item
{
    margin-bottom: 20px;
}

.diploma h4, .exp h4
{
    margin: 0 0 10px;
}
.diploma p, .exp p
{
    text-align: justify;
}

/* footer */

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer
{
    background-color: #1a1a1a;
    height: 200px;
}

.footer > div
{
    width: 100%;
    min-height: 100%;
    background-color: #1a1a1a;
}

.footer .container
{
    padding: 30px 0;
}

.footer .nav-blog li
{
    font-size: 1em;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.footer .row
{
    margin-bottom: 20px;
}

.footer .nav-footer-icon
{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .license
{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

/* glyphicon */

.glyphicon-custom
{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}

.glyphicon-email
{
    background-image: url('../img/glyphicon/email.png');
}
.glyphicon-linkedin
{
    background-image: url('../img/glyphicon/linkedin.png');
}
.glyphicon-twitter
{
    background-image: url('../img/glyphicon/twitter.png');
}
.glyphicon-github
{
    background-image: url('../img/glyphicon/github.png');
}