<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <title>Nicolas Torre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ce blog présente ma veille techno, mes projets perso et mes expériences ! Contactez-moi sur mon compte Linkedin ou par email contact[at]nicolas-torre.com" />
    <meta name="keywords" content=" développeur web, PHP, JS, jQuery, tutoriel, informatique, programmation" />

    <base href="{{ path('home') }}">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/monokai-sublime.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

    <script>
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>

</head>
<body>

    {% include 'Partials/Elements/Menu.html.twig' %}

    <div class="wrap">
        <div class="main">

        {#<h1 class="construction">Site en construction</h1>#}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {#<div class="construction"></div>#}

        {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'Partials/Elements/Footer.html.twig' %}

</body>
</html>