{% extends "Layout/Default.html.twig" %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>Mentions légales</h2>

            <h3>Présentation du site</h3>
            <p>Propiétaire / Webmaster: Nicolas Torre</p>
            <p>Contact: contact[at]nicolas-torre.com </p>

            <h3>Hébergeur</h3>
            <strong>Société :</strong> OVH <br />
            <p><strong>Adresse web :</strong> <a href="http://www.ovh.com" target="_blank">www.ovh.com</a></p>
            <p><strong>Adresse Postale :</strong> 2 rue kellermann
            BP 80157<br />
            59053 ROUBAIX Cedex 1<br /></p>
            <p><strong>Téléphone :</strong> +33 (0)8 203 203 63</p>
            <p></p><strong>Adresse électronique (E-Mail) :</strong> <a href="mailto:support@ovh.com">support@ovh.com</a></p>

            <h3>Conditions générales d'utilisation et des services proposés</h3>
            <p>
            </p>

            <h3>Données personelles</h3>
            <h3>Liens</h3>
        </div>
    </div>
{% endblock %}