{% extends "Layout/Default.html.twig" %}

{% block content %}
    <div class="container">

        <h2>Paiement reponse lcl</h2>
        {{ error | raw }}

        <p>{{ message | raw }}</p>

    </div>
{% endblock %}