<div class="tab-pane fade in active adminTable well" id="bio">
    <h2>Bio</h2>
    {% if bio %}
        <div>
            {% include 'Partials/Elements/EditDeleteConfirmDialog.html.twig' with {objectName: 'Bio', object: bio, attr: 'id'}  %}
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tr>
                    <th>First name</th><td>{{  bio.firstname }}</td>
                </tr>
                <tr>
                    <th>Last name</th><td>{{ bio.lastname }}</td>
                </tr>
                <tr>
                    <th>Presentation</th><td>{{  bio.presentation }}</td>
                </tr>

            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">No bio found.</div>
    {% endif %}
    <a href="{{ path('addBio') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add bio</button></a>
</div>